header {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    display: flex;
    border-radius: 5px;
    background: rgb(73,134,147);
    background: linear-gradient(59deg, rgba(73,134,147,1) 0%, rgba(100,253,255,1) 35%, rgba(182,243,255,1) 100%); 
}

#headTitle {
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    max-width: 4em;
    margin: 10px 10px 10px auto;
}

body {
    background-color: wheat;
    font-family: 'Open Sans', sans-serif;
}