header {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    display: flex;
    padding: 20px 0 20px 29%;
    border-radius: 5px;
    background: rgb(73,134,147);
    background: linear-gradient(59deg, rgba(73,134,147,1) 0%, rgba(100,253,255,1) 35%, rgba(182,243,255,1) 100%); 
}

#headTitle {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 22px;

}

#logo {
    max-width: 4em;
    margin: 0px;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    font-weight: bold;
}

body {
    background-color: wheat;
    font-family: 'Open Sans', sans-serif;
}